@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Underdog&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}
.navigation-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.navigation-section_logo-container{
    padding: 29px 0px 29px 40px;
    display: flex;
    align-items: center;
}

.navigation-section_main-menu{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 100px; */
}

.navigation-section_start{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}
.navigation-section_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.menu{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;   
    gap: 25px;
}

a{
    text-decoration: none;
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.boton-menu-header{
    display: flex;
    align-items: center;
}
.i{
    display: flex;
    align-items: center;
}

.navigation-section_right{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 0;
    gap: 25px;
}

.navigation-section_languaje{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.titulo{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;   
}

.subtitulo{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;   
}
.button-login{
    padding: 12px 16px;
    border: black 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navigation-section-languaje-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.boton-lenguaje{
    display: flex;
    justify-content: row;
    align-items: center;
}

.imagen-bandera{
    width: 32px;
    height: 20px;
    border-radius: 5px;
}
.icon-menu-mobile{
    display: none;
}

.icon-menu{
    display: none;
    color: black;
}

@media screen and (max-width: 1100px) {
    .navigation-section_main-menu{
        display: none;
    }
    .icon-menu-mobile{
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        color: black;
        position: sticky;
        top: 20px;
        right: 20px;
    }
    .icon-menu{
        display: flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        color: black;
        position: sticky;
        top: 20px;
        right: 20px;
    }
    .image-chino{
        width: 616px;
        height: 403px;
    }
    .hero-columnas{
        display: flex;
        flex-direction: column;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
}
/* fin header */

.hero{
    padding: 36px 0px 96px;
    width: 100%;
    padding-top: 100px;
}
.hero-columnas{
    /* margin: 0px 430px; */
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.image-chino{
    width: 616px;
    height: 400px;
}
.columna-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 463px;
    background-color: transparent;
}

.columna-info-titulo{
    margin: 0px 0px 24px;
}
.titulo{
    font-size: 36px;
}
.subtitulo{
    margin: 8px 0px 0px;
    font-size: 20px;
}
.descuento-parrafo{
    color: rgb(104, 62, 230);
}
.header-list-item{
    font-size: 20px;
}

.icon-tick{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 24px;
    height: 24px;
    color: green;
}
.svg{
    width: 16px;
    height: 16px;
    color: green;
}
.icon-list{
    width: 16px;
    height: 16px;
}

.columna-lista-3{
    margin: 0px 0px 24px;
    gap: 10px;
}

.dinamic-price-number{
    font-size: 48px;
    font-family: "DM Sans", sans-serif;
}
.dinamic-price-text{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.free-months{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}
.boton-empezar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 62, 230);
    border-radius: 5px;
}
.boton-empezar-texto{

    padding: 12px 16px;
    font-size: 16px;
    border: black 1px solid;
    border-radius: 5px;
    color: white;

}
.botones-info{
    padding: 32px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: 12px;
    /* color: white; */
}

.boton-time{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(227, 220, 252);
    border-radius: 5px;
}
.boton-empezar-time{
    padding: 12px 16px;
    font-size: 16px;
    border: black 1px solid;
    border-radius: 5px;
    color: black;
}

.promo{
    font-family: "DM Sans", sans-serif;
    padding: 24px 0px 0px;
    display: flex;
    align-items: center;
}

.icono-promo{
    width: 16px;
    height: 16px;
}
.header-list-item{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 1100px) {
    .hero-columnas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero{
        display: flex;
        flex-direction: column;
    }
}
/* fin seccion Hero */


.migration-section{
    width: 100%;
    
    background: rgb(30, 19, 69);
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    padding: 80px 0px;
    font-size: 28px;
    justify-content: space-around;
}
.section-title-services{
    margin: 0px 0px 48px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
}
.title{
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    color: white;
}
.parrafo{
    margin: 24px 0px 0px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: white;

}

.container-cards{
    padding: 0px 40px;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.content-card-icon-container{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}  


.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(104, 62, 230);
    border-radius: 5px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 24px;
    height: 24px;
}
.icono-rayo{
    color: white;
}

.title-card{
    color: white;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: start;
}
.description{
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: white;
    display: flex;
    justify-content: start;
    text-align: start;
}

.website-card{
    display: flex;
    flex-direction: column;
    padding: 32px;;
    border-radius: 20px;
    background-color: rgb(48, 28, 107);
    gap: 16px;
    flex: 1;
}

.migration-section__header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 36px;

}

@media screen and (max-width: 1100px) {
    .container-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



.website-card-carrousel--laptop{
    display: none;
}
.website-card__header{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background-color: rgb(48, 28, 107);
    font-size: 28px;
    gap: 16px;
}

h2{
    display: flex;
    text-align: center;
}

.boton-empezar-migration{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 62, 230);
    border-radius: 5px;

    padding: 12px 16px;
    font-size: 16px;
    border: black 1px solid;
    border-radius: 5px;
    color: white;

}
.texto-boton{
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: white;
}

/* fin seccion hero */

.footer{
    width: 100vw;
    background-color: rgb(245, 246, 255);
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}
.footer-logo-section{
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .footer-logo-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
}

.logo-social{
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.footer-payment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.footer-payment-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .footer-payment-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer{
        padding: 0px 16px;
    }
    .social-icons-container{
        padding: 16px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 16px;
    }
}

.payment-methods-icon{
    width: 60px;
    height: 40px;
}
.icon-card-pay{
    width: 60px;
    height: 40px;
}
.politicas-legales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.footer-copyright{
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright-text{
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 1100px) {
    .footer-copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .image-chino{
        width: 508px;
        height: 332px;
    }
}

@media screen and (max-width: 600px) {
            .image-chino{
        width: 100%;
        height: auto;
}
}

.columna-info{
    width: 100%;
}

@media screen and (max-width: 700px) {
    .hero-columnas{
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        font-size: 24px;
        display: flex;
        justify-content: start;
    }
    .subtitulo{
        font-size: 18px;
    }
    .dinamic-price-number{
        font-size: 36px;
    }
    .footer-copyright-text{
        display: flex;
        flex-wrap: wrap;
    }
    }
